# The name of the workflow
name: CI

# Specifies the events that trigger the workflow
on:
  push:
    branches: [ main, humble, jazzy ]
  pull_request:
    branches: [ main, humble, jazzy ]

# Defines a set of jobs to be run as part of the workflow
jobs:
  # The name of the job
  ROS_CI:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          # ROS 2 Humble Hawksbill
          - docker_image: ubuntu:jammy
            ros_distribution: humble
            ros_version: 2
          # ROS 2 Jazzy Jalisco
          - docker_image: ubuntu:noble
            ros_distribution: jazzy
            ros_version: 2
          # ROS 2 Rolling Ridley
          - docker_image: ubuntu:noble
            ros_distribution: rolling
            ros_version: 2
    container:
      image: ${{ matrix.docker_image }}
    steps:
      - name: Setup workspace
        run: mkdir -p ros_ws/src

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: ros_ws/src/DynamixelSDK

      - name: Setup ROS environment
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: ${{ matrix.ros_distribution }}

      - name: Install dependencies
        shell: bash
        run: |
          set -e
          source /opt/ros/${{ matrix.ros_distribution }}/setup.bash
          rosdep init || true
          rosdep update
          rosdep install --from-paths ros_ws/src/DynamixelSDK/ros \
            --ignore-src -r -y \
            --rosdistro ${{ matrix.ros_distribution }}

      - name: Build
        shell: bash
        run: |
          set -e
          source /opt/ros/${{ matrix.ros_distribution }}/setup.bash
          colcon build \
            --base-paths ros_ws/src/DynamixelSDK/ros \
            --build-base ros_ws/build \
            --install-base ros_ws/install \
            --event-handlers console_direct+

      - name: Test
        shell: bash
        run: |
          set -e
          source /opt/ros/${{ matrix.ros_distribution }}/setup.bash
          source ros_ws/install/setup.bash
          colcon test \
            --base-paths ros_ws/src/DynamixelSDK/ros \
            --build-base ros_ws/build \
            --install-base ros_ws/install
          colcon test-result --verbose
